.publicidad{
    width: 450px;
    background-color: $color-primary;
    box-shadow: $shadow;
    @include flex-basico;
    margin: 10px;
    img{
        width: 200px;
    }
    .info{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        h3,p{
            color: white;
        }
        button{
         @include button(#ae1313,120px,#9e2828);

        }
    }
}