$color-primary:#0ea573;
$shadow: 8px 7px 15px 5px #0000009d;
$dark: activo;
$colores : (blue,
            yellow,
            black,
            red,
            green);
$coloresPresonalizados:(primario:#861f1f,
                        secundario:#0a7171,
                        terciario:#c6bf06,
                        acento:#3203a6);

$estilosFooter:(
                color:#fff,
                bg:#861f1f,
                width:100%,
                display:flex);