* {
  margin: 0;
  padding: 0;
  margin: 0;
}

.img-degradado {
  position: relative;
  width: 100%;
  height: 400px;
}
.img-degradado .degradado {
  position: absolute;
  width: inherit;
  height: inherit;
  background: linear-gradient(90deg, rgba(11, 36, 0, 0.8996848739) 12%, rgba(34, 136, 18, 0.599964986) 45%, rgba(42, 171, 24, 0.3982843137) 73%, rgba(0, 255, 51, 0.1994047619) 100%);
  z-index: 2;
}
.img-degradado img {
  position: absolute;
  width: inherit;
  height: inherit;
  object-fit: cover;
  z-index: 1;
}

.transformaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.transformaciones img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  margin: 10px;
}
.transformaciones .img1 {
  transition: 0.5s;
}
.transformaciones .img1:hover {
  transform: translate(-10px, 20px);
}
.transformaciones .img2 {
  transition: 0.7s;
}
.transformaciones .img2:hover {
  transform: rotateX(360deg);
}
.transformaciones .img3 {
  transition: 0.8s;
}
.transformaciones .img3:hover {
  transform: rotateY(360deg);
}
.transformaciones .img4 {
  transition: 0.8s;
}
.transformaciones .img4:hover {
  transform: rotateZ(360deg);
}
.transformaciones .img5 {
  transition: 0.8s;
}
.transformaciones .img5:hover {
  transform: scale(2);
}
.transformaciones .img6 {
  transition: 0.8s;
  transform: skewX(9deg);
}
.transformaciones .img7 {
  transition: 0.8s;
}
.transformaciones .img7:hover {
  transform: rotateZ(360deg) scale(3) translate(0, -50px);
}

.crecer {
  width: 300px;
  margin: 20px;
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: width 0.6s, background-color 1.2s;
}
.crecer:hover {
  width: 400px;
  background-color: red;
}

.input {
  margin: 10px;
  width: 150px;
  transition: 1s;
}
.input:focus {
  width: 250px;
}

.fondo {
  width: 100%;
  height: 400px;
  background-color: blueviolet;
  padding: 10px;
}
.fondo .circulo {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
  margin: 10px;
  animation-name: movi;
  animation-duration: 10s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0.1, 0.1, 0.92);
}

@keyframes movi {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(500px, 0px) scale(2);
    background-color: brown;
  }
  50% {
    transform: translate(500px, 200px) scale(1.5);
    background-color: burlywood;
  }
  75% {
    transform: translate(0px, 200px) scale(1);
    background-color: cadetblue;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
section {
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 10s;
}

@keyframes un_efecto {
  0% {
    width: 100px;
  }
  10% {
    width: 50px;
  }
  25% {
    width: 300px;
  }
  50% {
    width: 200px;
    background-color: red;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 100px;
    background-color: green;
  }
}
h1 {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
 }
 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 
/*# sourceMappingURL=styles.css.map */
