.galeria{
    display: grid;
    margin: 10px;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,200px) ;
    grid-template-areas: "img1  img1  img2  img3"
                         "img1  img1  img4  img4"
                         "img5  img7  img7  img8"
                         "img6  img7  img7  img8"
                         "img9  img9  img9  img8"
                         "img10 img11 img11 img12" ;


}

@for $i from 1 to 13{
    .img#{$i}{
        grid-area: img#{$i} ;
    }
}

.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.img1{
    background-image: url(../multimedia/img/galeria/paisaje1.jpg);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.img1 h3{
    font-size: 32px;
}
.img1 p{
    font-size: 20px;
    text-align: center;
} 


