.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .producto{
        width: 330px;
        height: 280px;
        border: none;
        margin: 10px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            width: 500px;
            height: 700px;
            background-color: blue;
            position: absolute;
            opacity: 0.7;
            top: -600px;
            left: -500px;
            transform: rotateZ(45deg);
            transition: 1s;
        }
        &:hover::before{
            top:-300px ;
            left:0 ;
        }
        
     
        img{
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
        .info{
            width: inherit;
            height: inherit;
            position: absolute;
            padding: 10px;
            color: white;
            text-shadow: 2px 2px 2px #000;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: -25px;
            left: 0;
            opacity: 0;
            transition: 0.5s;
            &:hover{
                top: 0;
                opacity: 1;
            }
            h5{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}
