*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 155px 200px 200px 100px;
    gap: 10px;
    margin: 10px;

}
.galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria img:nth-child(1){
    grid-column: 1/3;
}
.galeria img:nth-child(4){
    grid-column: 2/4;
}
.galeria img:nth-child(5){
    grid-column: 2/4;
}
.galeria img:nth-child(6){
    grid-column: 1/2;
    grid-row: 3/5;
}